<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <p> Dear <strong>{{ guest.name }}</strong>,</p>
    <p>Thank you for staying at Jashore Circuit House. You are always welcome at Joyful Jashore. </p>
    <p>Please call in advance for any future booking.</p>
    <p>Thanks and regards,<br><strong>Nezarat Deputy Collector</strong> <br>Cell: +8801733909222,</p>
    
</body>
</html>